html,
body {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  font-size: 16px;
  background-color: aqua;
  background-image: url("./2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.App {
  background-image: url("./2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.App-header {
  background-color: rgba(256, 256, 256, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(15px + 2vmin);
  color: rgb(190, 22, 36);
}

.App-calc {
  background-color: rgba(256, 256, 256, 0.8);
  color: rgb(190, 22, 36);
  font-size: calc(5px + 2vmin);
  text-align: center;
  height: 70vh;
  width: 30vw;
  top: 35vh;
  margin: 0 auto;
}

.App-calc_header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#activity {
  display: block;
  margin: 10px;
  padding: 0;
}

.weight,
.height,
.old {
  display: inline-block;
  margin: 10px;
  padding: 0;
}

#weight,
#height,
#old {
  width: 40px;
}

#result {
  height: 20px;
  width: 40px;
  background-color: rgba(256, 256, 256, 0.8);
}
#page1 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(190, 22, 36) inset, 0 0 0 0 rgb(190, 22, 36);
  font-family: "Times New Roman", sans-serif;
  font-size: calc(5px + 2vmin);
  // letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
#page1:hover {
  box-shadow: 0 0 10px 0 rgb(190, 22, 36) inset, 0 0 10px 4px rgb(190, 22, 36);
  color: rgb(190, 22, 36);
  background-color: rgba(256, 256, 256, 0.8);
}

#page2 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(190, 22, 36) inset, 0 0 0 0 rgb(190, 22, 36);
  font-family: "Times New Roman", sans-serif;
  font-size: calc(5px + 2vmin);
  // letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
#page2:hover {
  box-shadow: 0 0 10px 0 rgb(190, 22, 36) inset, 0 0 10px 4px rgb(190, 22, 36);
  color: rgb(190, 22, 36);
  background-color: rgba(256, 256, 256, 0.8);
}

#listFoods {
  background-color: rgba(256, 256, 256, 0.8);
  color: rgb(190, 22, 36);
  font-size: calc(1px + 2vmin);
  text-align: center;
  // height: 70vh;
  width: 30rem;
  // top: 35vh;
}
#buttonPage1 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(190, 22, 36) inset, 0 0 0 0 rgb(190, 22, 36);
  font-family: "Times New Roman", sans-serif;
  font-size: calc(5px + 2vmin);
  // letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
#buttonPage1:hover {
  box-shadow: 0 0 10px 0 rgb(190, 22, 36) inset, 0 0 10px 4px rgb(190, 22, 36);
  color: rgb(190, 22, 36);
}
#resultTable {
  border-collapse: collapse;
  background-color: rgba(256, 256, 256, 0.8);
}
td {
  padding: 3px;
  border: 1px solid rgb(190, 22, 36);
  // text-decoration: none;
  // outline: none;
  // display: inline-block;
  // padding: 15px 30px;
  // margin: 10px 20px;
  // border-radius: 10px;
  // box-shadow: 0 0 40px 40px rgb(190, 22, 36) inset, 0 0 0 0 rgb(190, 22, 36);
  // font-family: "Times New Roman", sans-serif;
  font-size: calc(5px + 2vmin);
  // // letter-spacing: 2px;
  color: rgb(190, 22, 36);
  // transition: 0.15s ease-in-out;
}
#wrapperForTable {
  position: relative;
}
.hidden {
  display: none;
}
#resultTable {
  position: absolute;
  right: 100px;
}
